{% extends "bootstrap/base.html" %}
{% set SITE_TITLE = 'The Randomist (BETA)' %}
{% block title %}{{ SITE_TITLE }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">

    <script>
        function slugify(string) {
            const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
            const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
            const p = new RegExp(a.split('').join('|'), 'g')

            return string.toString().toLowerCase()
                .replace(/\s+/g, '-') // Replace spaces with -
                .replace(/\./g, '') // Remove fullstops '.'
                .replace(/\(/g, '') // Remove opening brackets '.'
                .replace(/\)/g, '') // Remove closing brackets '.'
                .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
                .replace(/&/g, '-and-') // Replace & with 'and'
                .replace(/[^\w\-]+/g, '') // Remove all non-word characters
                .replace(/\-\-+/g, '-') // Replace multiple - with single -
                .replace(/^-+/, '') // Trim - from start of text
                .replace(/-+$/, '') // Trim - from end of text
        }
    </script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-text" href="{{ url_for('main.about') }}">About</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.create_story') }}">Story</a></li>
                                <li><a href="{{ url_for('main.create_table') }}">Table</a></li>
                                <li><a href="{{ url_for('main.create_macro') }}">Macro</a></li>
                                <li><a href="{{ url_for('main.create_tag') }}">Tag</a></li>
                                <li><a href="{{ url_for('main.create_collection') }}">Collection</a></li>
                                <li><a href="{{ url_for('main.bulk_table_import') }}">Bulk Table Import</a></li>
                                <li><a href="{{ url_for('auth.create_tutorial') }}">Setup Tutorial Data</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.share_public') }}">Free</a></li>
                                <li><a href="{{ url_for('main.create_market_product') }}">Paid</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('main.discover') }}">Discover</a></li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Manage</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user.gravatar(size=18) }}">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a id='register' href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a id='login' href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>{% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}

{% endblock %}
