{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The Randomist - Create Tag{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ wtf.quick_form(form) }}
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){

  var name_form_field = $("#{{ form_type }}_name");
  var id_form_field = $("#{{ form_type }}_id");

  name_form_field.blur(function() {
    if ( !( id_form_field.val() ) ) {
        var slug_text = name_form_field.val();
        id_form_field.val(slugify( slug_text ));
    }
  });

  id_form_field.blur(function() {
    if ( id_form_field.val() ) {
        if (id_form_field.val().length >50) {
            alert('Tag too long (50 chars max)');
            return;
        }
        var id_exists_url = "{{ url_for('.id_exists', type=form_type, id='') }}" + id_form_field.val();

        $.ajax({url: id_exists_url, success: function(result){
            if (result == '1') {
                $("label[for='{{ form_type }}_id']").text("Identifier -- ERROR Identifier already exists");
            } else {
                $("label[for='{{ form_type }}_id']").text("Identifier");
            }
        }});
    }
  });
});
</script>
{% endblock %}

