{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Discover Content - {{ SITE_TITLE }}{% endblock %}

{% block page_content %}
    <div class="panel panel-default" id="info-panel">
        <div class="panel-heading">Click on the name of the item and it will list the contents in the preview section.
            Click select to pull it into your library.
            <button type="button" class="close pull-right" id="info-panel-close">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#free">Free</a></li>
        <li><a data-toggle="tab" href="#paid">Paid</a></li>
    </ul>
    <div class="tab-content">
        <div id="free" class="tab-pane fade in active">
            <div class="col-md-6">
                <h3>Free</h3>
                <table class="table table-striped table-bordered table-hover" id="freeDataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody id="freeList" style="height: 400px">
                    {% for p in free_products %}
                        <tr id="free.{{ p.id }}">
                            <td>
                                <button onclick="previewItem('free.{{ p.id }}');"
                                        class="btn btn-sm btn-info">{{ p.title }}</button>
                                <small class="text-muted pull-right">{{ p.author.username }}</small>
                            </td>
                            <td>{{ p.description }}</td>
                            <td>
                                <button onclick='selectItem($(this));' id='{{ p.id }}' data-title='{{ p.title }}'
                                        class="btn btn-sm btn-warning">
                                    Select
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Preview</h3>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading">Collections</div>
                    <div class="panel-body" id="preview-panel-collections">
                    </div>
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading">Macros</div>
                    <div class="panel-body" id="preview-panel-macros">
                    </div>
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading">Tables</div>
                    <div class="panel-body" id="preview-panel-tables">
                    </div>
                </div>
            </div>
        </div>
        <div id="paid" class="tab-pane fade">
            <h3>Paid for</h3>
            <div class="container-fluid">
                <div class="row">
                    <h4>Coming soon</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script>
        function selectItem(selectedElement) {
            if (confirm('Please confirm you want ' + selectedElement.data('title'))) {
                const url = "{{ url_for('.transfer_public_content', public_id='') }}" + selectedElement.attr('id');
                $.ajax({
                    type: "POST",
                    url: url, title: selectedElement, success: function (result) {
                        $('<div></div>')
                            .html("<h4>Content Transferred</h4>" +
                                "Collections: " + result.collection_count + "<br/>" +
                                "Macros : " + result.macro_count + "<br/>" +
                                "Tables : " + result.table_count)
                            .dialog({
                                modal: true,
                                title: selectedElement.data('title'),
                                buttons: {
                                    Ok: function () {
                                        $(this).dialog("destroy").remove();
                                    }
                                }
                            });
                        selectedElement.prop('disabled', true);
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });
            }
        }

        function previewItem(id) {
            const url = "{{ url_for('.get_public_content', public_id='') }}" + id;
            $.ajax({
                url: url, success: function (result) {
                    let colls = '';
                    for (c in result.collections) {
                        colls += result.collections[c] + '<br/>';
                    }
                    let macs = '';
                    for (m in result.macros) {
                        macs += result.macros[m] + '<br/>';
                    }
                    let tabs = '';
                    for (t in result.tables) {
                        tabs += result.tables[t] + '<br/>';
                    }
                    $("#preview-panel-collections").html(colls);
                    $("#preview-panel-macros").html(macs);
                    $("#preview-panel-tables").html(tabs);
                }
            });
        }

        $(document).ready(function () {
            let table_datatable = $('#freeDataTable').DataTable({
                scrollY: "600px",
                scrollCollapse: true,
                pageLength: 25,
                lengthChange: false,
                dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                language: {
                    "emptyTable": "no more content to discover, come back later."
                },
                drawCallback: function (settings) {
                    var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                }
            });
        });
    </script>
{% endblock %}