{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Randomise iT- Editing Screen{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <label for="tagFilter">Tag:</label>
        <select id="tagFilter">
            <option label="" selected></option>
            {% for tag in tags %}
                <option label="{{ tag.id}}">{{ tag.id }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
		<div class="col-md-4">
            <h2>Sets</h2>
        </div>
		<div class="col-md-4">
            <h2>Macros</h2>
        </div>
		<div class="col-md-4">
            <h2>Tables</h2>
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
            {{ macros.list_rows_in_table('set', sets) }}
        </div>
		<div class="col-md-4">
            {{ macros.list_rows_in_table('macro', macro_list) }}
        </div>
		<div class="col-md-4">
            {{ macros.list_rows_in_table('table', tables) }}
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
            <h2>Market Products</h2>
        </div>
        <div class="col-md-4">
            <h2>Stories</h2>
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
            {{ macros.list_rows_in_table('market_product', market_products) }}
        </div>
        <div class="col-md-4">
            {{ macros.list_rows_in_table('story', stories) }}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        function filterList(list, filter, tag) {
            $("#" + list + " tr").filter(function () {
                $(this).toggle(($(this).text().toLowerCase().indexOf(filter) > -1 || filter == '') && (tag == "" || $(this).data('tag') == tag));
            });
        }

        $("#tagFilter").change(function () {
            let tag = $(this).children("option:selected").val();
            filterList('tableList', $("#tableFilter").val().toLowerCase(), tag);
            filterList('macroList', $("#macroFilter").val().toLowerCase(), tag);
            filterList('setList', $("#setFilter").val().toLowerCase(), tag);
            filterList('market_productList', $("#market_productFilter").val().toLowerCase(), tag);
        });
        $("#tableFilter").on("keyup", function () {
            filterList('tableList', $("#tableFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
        });
        $("#macroFilter").on("keyup", function () {
            filterList('macroList', $("#macroFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
        });
        $("#setFilter").on("keyup", function () {
            filterList('setList', $("#setFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
        });
        $("#marketFilter").on("keyup", function () {
            filterList('marketList', $("#marketFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
        });

        $("#storyFilter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#storyList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}
