{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block page_content %}
    {% if current_user.is_authenticated %}
        <h3>Hello, {{ current_user.username }}</h3>
    {% endif %}
    <div class="panel panel-default" id="info-panel">
        <div class="panel-body">
            <button type="button" class="close pull-right" id="info-panel-close">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            At The Randomist we want to harness the power of randomness to drive creativity, that
            juxtaposition of concepts that spark an idea. <br><br>
            This site is in BETA phase and most of the public content has been created from several sources across
            the internet, no claim is made to the ownership of the content.
            {% if not current_user.is_authenticated %}
                <a id='register' href="{{ url_for('auth.register') }}">Create an account</a> to create your own content
                to share
            {% endif %}
        </div>
    </div>
    {% if current_user.is_authenticated %}
        <div class="container-fluid invisible" id="mainContent">
            <div class="row">
                <label for="tagFilter">Tag:</label>
                <select id="tagFilter">
                    <option label="" selected></option>
                    {% for tag in tags %}
                        <option label="{{ tag.id }}">{{ tag.id }}</option>
                    {% endfor %}
                </select>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tablesMacros">Tables and Macros</a></li>
                <li><a data-toggle="tab" href="#collectionsStories">Stories and Collections</a></li>
                <li><a data-toggle="tab" href="#scratchpad">Scratchpad</a></li>
            </ul>
            <div class="tab-content" id="mainContent">
                <div id="tablesMacros" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4">
                            {{ macros.list_rows_in_table_header('table', current_user) }}
                            {{ macros.list_rows_in_table('table', tables, current_user) }}
                            {{ macros.list_public_rows_in_table('table', public_tables) }}
                            {{ macros.list_rows_in_table_footer() }}
                        </div>
                        <div class="col-md-4">
                            {{ macros.list_rows_in_table_header('macro', current_user) }}
                            {{ macros.list_rows_in_table('macro', macro_list, current_user) }}
                            {{ macros.list_public_rows_in_table('macro', public_macros) }}
                            {{ macros.list_rows_in_table_footer() }}
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default" style="margin-top: 40px">
                                <button type="button" class="close pull-right" id="preview-panel-clear">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Clear</span>
                                </button>
                                <div class="panel-body" id="preview-panel">
                                    <div><small class="text-muted">PREVIEW area. Click on Table or Macro to see results
                                        here.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collectionsStories" class="tab-pane fade in">
                    <div class="col-md-4">
                        {{ macros.list_rows_in_table_header('story', current_user) }}
                        {{ macros.list_rows_in_table('story', stories, current_user) }}
                        {{ macros.list_rows_in_table_footer() }}
                    </div>
                    <div class="col-md-4">
                        {{ macros.list_rows_in_table_header('collection', current_user) }}
                        {{ macros.list_rows_in_table('collection', collections, current_user) }}
                        {{ macros.list_rows_in_table_footer() }}
                    </div>
                </div>
                <div id="scratchpad" class="tab-pane fade">
                    <div class="col-md-8">
                        <textarea rows="30" style="width: 100%; max-width: 100%;" id="scratchpad_text">
                        </textarea>
                    </div>
                    <div class="col-md-4">
                        <h4>Macros</h4>
                        <input class="form-control" id="macroFilter" type="text" placeholder="Search..">
                        <div style="height: 260px; overflow-y: scroll;">
                            <ul class="list-group" id="macroList">
                                {% for m in macro_list %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ m.author.username }}.macro.{{ m.id }}')">{{ m.name }}</button>
                                    </li>
                                {% endfor %}
                                {% for m in public_macros %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ m.original_author.username }}.macro.{{ m.macro_id }}')">{{ m.public_macro.name }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <h4>Tables</h4>
                        <input class="form-control" id="tableFilter" type="text" placeholder="Search..">
                        <div style="height: 260px; overflow-y: scroll;">
                            <ul class="list-group" id="tableList">
                                {% for t in tables %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ t.author.username }}.table.{{ t.id }}')">{{ t.name }}</button>
                                    </li>
                                {% endfor %}
                                {% for t in public_tables %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ t.original_author.username }}.table.{{ t.table_id }}')">{{ t.public_table.name }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid invisible" id="mainContent">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tablesMacros">Tables and Macros</a></li>
                <li><a data-toggle="tab" href="#scratchpad">Scratchpad</a></li>
            </ul>
            <div class="tab-content" id="mainContent">
                <br>
                <div id="tablesMacros" class="tab-pane fade in active">
                    <div class="col-md-4">
                        {{ macros.list_rows_in_table_header('public_tables', current_user) }}
                        {% for item in public_tables %}
                            <tr>
                                <td>
                                    <button id="get-random-value" class="btn btn-primary btn-sm"
                                            value="{{ url_for('.get_random_value', username=item.author.username, id=item.id) }}"
                                            data-modifier="{{ item.modifier_name }}">
                                        {{ item.name }} <small
                                            class="text-dark">({{ item.row_count }})</small>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {{ macros.list_rows_in_table_footer() }}
                    </div>
                    <div class="col-md-4">
                        {{ macros.list_rows_in_table_header('public_macros', current_user) }}
                        {% for item in public_macros %}
                            <tr>
                                <td>
                                    <button id="get-macro-value" class="btn btn-primary btn-sm"
                                            value="{{ url_for('.get_macro', username=item.author.username, id=item.id) }}">
                                        {{ item.name }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {{ macros.list_rows_in_table_footer() }}
                    </div>
                    <div class="col-md-4">
                        <h2>Preview</h2>
                        <div class="panel panel-default">
                            <div class="panel-body" id="preview-panel">
                                <div><small class="text-muted">Click on Table or Macro, see results here.</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scratchpad" class="tab-pane fade">
                    <div class="col-md-8">
                        <textarea rows="30" style="width: 100%; max-width: 100%;" id="scratchpad_text"></textarea>
                    </div>
                    <div class="col-md-4">
                        <h4>Macros</h4>
                        <input class="form-control" id="macroFilter" type="text" placeholder="Search..">
                        <div style="height: 260px; overflow-y: scroll;">
                            <ul class="list-group" id="macroList">
                                {% for m in public_macros %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ m.author.username }}.macro.{{ m.id }}')">{{ m.name }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <h4>Tables</h4>
                        <input class="form-control" id="tableFilter" type="text" placeholder="Search..">
                        <div style="height: 260px; overflow-y: scroll;">
                            <ul class="list-group" id="tableList">
                                {% for t in public_tables %}
                                    <li class="list-group-item">
                                        <button onclick="addItem('{{ t.author.username }}.table.{{ t.id }}')">{{ t.name }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>

    <script>
        if (typeof Cookies.get('info-panel-close') !== 'undefined') {
            $("#info-panel").remove();
        }
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                const tag = $("#tagFilter").children("option:selected").val();
                const tag_field = data[1];
                if (tag == tag_field || tag == "" || typeof tag === undefined) {
                    return true;
                }
                return false;
            }
        );
        table_modifiers = {};
        {% if current_user.is_authenticated %}
            {% for t in tables %}{% if t.modifier_name %}table_modifiers['{{ current_user.username }}.table.{{ t.id }}'] = '{{ t.modifier_name }}';
            {% endif %}{% endfor %}
        {%  endif %}
        {% for t in public_tables %}{% if t.modifier_name %}table_modifiers['{{ t.author.username }}.table.{{ t.id }}'] = '{{ t.modifier_name }}';
        {% endif %}{% endfor %}

        $(document).ready(function () {
            $("button#get-random-value").click(function () {
                let url = $(this).val()
                const [ignore, id_type, username, id] = $(this).val().split("/");
                if ($(this).data('modifier') && $(this).data('modifier') != 'None') {
                    const modifier = prompt($(this).data('modifier'), "0");
                    if (modifier != null && !isNaN(modifier)) {
                        url += '?modifier=' + modifier;
                    }
                }
                $.ajax({
                    url: url, reference_id: id, username: username, success: function (result) {
                        result = result.replace(/(?:\r\n|\r|\n)/g, '<br>');
                        result = result.replace(/</g, '&lt;')
                        const el = '<div><small class="text-muted" title="created by ' + username + '">' + this.reference_id + '</small><p>' + result + '</p></div>';
                        $("#preview-panel").prepend(el);
                    }
                });
            });

            $("button#get-macro-value").click(function () {
                const [ignore, id_type, username, id] = $(this).val().split("/");
                $.ajax({
                    url: $(this).val(), reference_id: id, username: username, success: function (result) {
                        result = result.replace(/(?:\r\n|\r|\n)/g, '<br>');
                        const el = '<div><small class="text-muted" title="created by ' + username + '">' + this.reference_id + '</small><p>' + result + '</p></div>';
                        $("#preview-panel").prepend(el);
                    }
                });
            });

            $("button#info-panel-close").click(function () {
                $("#info-panel").remove();
                Cookies.set("info-panel-close", 'y')
            });
            {% if current_user.is_authenticated %}
                $('#storyDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 25,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no stories yet. <a href='/create-story'>Create</a> one."
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
                let table_datatable = $('#tableDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 25,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no tables. Go to <a href='/discover'>Discover</a> or <a href='/create-table'>Create</a> your own"
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
                let macro_datatable = $('#macroDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 25,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no macros. Go to <a href='/discover'>Discover</a> or <a href='/create-macro'>Create</a> your own"
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
                let collection_datatable = $('#collectionDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 25,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no collections"
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
                $("#tagFilter").change(function () {
                    Cookies.set("index-tag", $(this).children("option:selected").val());
                    table_datatable.draw();
                    macro_datatable.draw();
                    collection_datatable.draw();
                });
                let tag_cookie = Cookies.get('index-tag');
                if (tag_cookie !== 'undefined') {
                    if (tag_cookie.trim() != "") {
                        $("#tagFilter").val(tag_cookie);
                        $("#tagFilter").trigger('change');
                    }
                }
            {% else %}
                $('#public_tablesDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 20,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no tables"
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
                $('#public_macrosDataTable').DataTable({
                    scrollY: "600px",
                    scrollCollapse: true,
                    pageLength: 20,
                    lengthChange: false,
                    dom: "<'row'<'col-sm-3'f><'col-sm-9'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "emptyTable": "no macros"
                    },
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                        pagination.toggle(this.api().page.info().pages > 1);
                    }
                });
            {% endif %}

            $("button#preview-panel-clear").click(function () {
                $("#preview-panel").html('<div><small class="text-muted">Click on Table or Macro, see results here.</small></div>');
            });

            function filterList(list, filter, tag) {
                $("#" + list + " li").filter(function () {
                    $(this).toggle(($(this).text().toLowerCase().indexOf(filter) > -1 || filter == '') && (tag == "" || $(this).data('tag') == tag));
                });
            }

            $("#tableFilter").on("keyup", function () {
                filterList('tableList', $("#tableFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#macroFilter").on("keyup", function () {
                filterList('macroList', $("#macroFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });


            $("#mainContent").removeClass("invisible");
        });

        function addItem(item) {
            const [username, id_type, id] = item.split(".");
            if (id_type == 'table') {
                addTable(username, id);
            } else {
                addMacro(username, id);
            }
        }

        function addTable(username, tableId) {
            let get_random_table_url = "/random-value/" + username + '/' + tableId;
            const item = username + '.table.' + tableId;
            if (item in table_modifiers) {
                const modifier = prompt(table_modifiers[item], "0");
                if (modifier != null && !isNaN(modifier)) {
                    get_random_table_url += '?modifier=' + modifier;
                }
            }
            $.ajax({
                url: get_random_table_url, tableId: tableId, success: function (result) {
                    insertText(result);
                }
            });
        }

        function addMacro(username, macroId) {
            const get_macro_url = "/macro/" + username + '/' + macroId;
            $.ajax({
                url: get_macro_url, macroId: macroId, success: function (result) {
                    insertText(result);
                }
            });
        }

        function insertText(result) {
            $("#scratchpad_text").focus();
            const story_text_val = $("#scratchpad_text").val();
            const cursor_pos = $("#scratchpad_text").prop("selectionStart");
            $("#scratchpad_text").val(story_text_val.slice(0, cursor_pos) + result + " " + story_text_val.slice(cursor_pos));
            $('#scratchpad_text').prop('selectionStart', cursor_pos + result.length + 1);
            $('#scratchpad_text').prop('selectionEnd', cursor_pos + result.length + 1);
        }


    </script>
{% endblock %}
