{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The Randomist {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>Hello{% if current_user.is_authenticated %}, {{ current_user.username }}{% else %}. Please create an account
            to harness the full power of The Randomist{% endif %}</h3>
    </div>
    <div class="panel panel-default" id="info-panel">
        <div class="panel-heading">The wonderful world of Imagination driven by Randomness
            <button type="button" class="close pull-right" id="info-panel-close">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
        </div>
        <div class="panel-body">At The Randomist we want to harness the power of randomness to drive creativity, that
            weird juxtaposition of concepts that spark an idea. That unusual hint that gets you to the next level in
            your story, scenario or idea.
            Or just randomly create a plot that your imagination has to explain.
        </div>
    </div>
    {% if current_user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <label for="tagFilter">Tag:</label>
                <select id="tagFilter">
                    <option label="" selected></option>
                    {% for tag in tags %}
                        <option label="{{ tag.id }}">{{ tag.id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Stories</h3>
                </div>
                <div class="col-md-4">
                    <h3>Tables</h3>
                </div>
                <div class="col-md-4">
                    <h3>Macros</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ macros.list_rows_in_table_header('story', current_user) }}
                    {{ macros.list_rows_in_table('story', stories, current_user) }}
                    {{ macros.list_rows_in_table_footer() }}
                </div>
                <div class="col-md-4">
                    {{ macros.list_rows_in_table_header('table', current_user) }}
                    {{ macros.list_rows_in_table('table', tables, current_user) }}
                    {{ macros.list_public_rows_in_table('table', public_tables) }}
                    {{ macros.list_rows_in_table_footer() }}

                </div>
                <div class="col-md-4">
                    {{ macros.list_rows_in_table_header('macro', current_user) }}
                    {{ macros.list_rows_in_table('macro', macro_list, current_user) }}
                    {{ macros.list_public_rows_in_table('macro', public_macros) }}
                    {{ macros.list_rows_in_table_footer() }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Collections</h3>
                </div>
                <div class="col-md-4">
                    <h3>Preview Pane</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ macros.list_rows_in_table_header('macro', current_user) }}
                    {{ macros.list_rows_in_table('collection', collections, current_user) }}
                    {{ macros.list_rows_in_table_footer() }}
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-body" id="preview-panel">

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <h3>Latest Public Content created by our users</h3>
                <div class="col-md-4">
                    <h3>Tables</h3>
                </div>
                <div class="col-md-4">
                    <h3>Macros</h3>
                </div>
                <div class="col-md-4">
                    <h3>Preview Pane</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" id="tableFilter" type="text" placeholder="Search..">
                    <div style="height: 500px; overflow-y: scroll;">
                        <ul class="list-group" id="tableList">
                            {% for item in public_tables %}
                                <li class="list-group-item"
                                    {% if item.tags is defined %}data-tag="{{ item.tags }}{% endif %}">
                                    <button id="get-random-value"
                                            value="{{ url_for('.get_random_value', username=item.author.username, id=item.id) }}">
                                        {{ item.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id="macroFilter" type="text" placeholder="Search..">
                    <div style="height: 500px; overflow-y: scroll;">
                        <ul class="list-group" id="macroList">
                            {% for item in public_macros %}
                                <li class="list-group-item"
                                    {% if item.tags is defined %}data-tag="{{ item.tags }}{% endif %}">
                                    <button id="get-macro-value"
                                            value="{{ url_for('.get_macro', username=item.author.username, id=item.id) }}">{{ item.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-body" id="preview-panel">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        if (typeof Cookies.get('info-panel-close') !== 'undefined') {
            $("#info-panel").remove();
        }

        $(document).ready(function () {
            function filterList(list, filter, tag) {
                $("#" + list + " tr").filter(function () {
                    $(this).toggle(($(this).text().toLowerCase().indexOf(filter) > -1 || filter == '') && (tag == "" || $(this).data('tag') == tag));
                });
            }

            $("#tagFilter").change(function () {
                let tag = $(this).children("option:selected").val();
                filterList('tableList', $("#tableFilter").val().toLowerCase(), tag);
                filterList('macroList', $("#macroFilter").val().toLowerCase(), tag);
                filterList('collectionList', $("#collectionFilter").val().toLowerCase(), tag);
                filterList('market_productList', $("#market_productFilter").val().toLowerCase(), tag);
            });
            $("#tableFilter").on("keyup", function () {
                filterList('tableList', $("#tableFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#macroFilter").on("keyup", function () {
                filterList('macroList', $("#macroFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#collectionFilter").on("keyup", function () {
                filterList('collectionList', $("#collectionFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#marketFilter").on("keyup", function () {
                filterList('marketList', $("#marketFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });

            $("#storyFilter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#storyList tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("button#get-random-value").click(function () {
                let url = $(this).val()
                const [ignore, username, id_type, id] = $(this).val().split("/");
                if ($(this).data('modifier') && $(this).data('modifier') != 'None') {
                    const modifier = prompt($(this).data('modifier'), "0");
                    if (modifier != null && !isNaN(modifier)) {
                        url += '?modifier=' + modifier;
                    }
                }
                $.ajax({
                    url: url, reference_id: id, success: function (result) {
                        result = result.replace(/(?:\r\n|\r|\n)/g, '<br>');
                        result = result.replace(/</g, '&lt;')
                        const el = '<div><small class="text-muted">' + this.reference_id + '</small><p>' + result + '</p></div>';
                        $("#preview-panel").prepend(el);
                    }
                });
            });
            $("button#get-macro-value").click(function () {
                const [ignore, username, id_type, id] = $(this).val().split("/");
                $.ajax({
                    url: $(this).val(), reference_id: id, success: function (result) {
                        result = result.replace(/(?:\r\n|\r|\n)/g, '<br>');
                         const el = '<div><small class="text-muted">' + this.reference_id + '</small><p>' + result + '</p></div>';
                        $("#preview-panel").prepend(el);
                    }
                });
            });
            $("button#info-panel-close").click(function () {
                $("#info-panel").remove();
                Cookies.set("info-panel-close", 'y')
            });

        });
    </script>
{% endblock %}
