{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Randomise iT{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
{% if current_user.is_authenticated %}
<div class="col-xs-6">
    <h2>Random Tables</h2>
    <input class = "form-control" id = "random-table-filter" type = "text" placeholder = "Search here...">
    <table class="table table-striped table-bordered fixed_header">
        <thead>
            <tr>
              <th>Name (click to edit)</th><th>Preview</th>
            </tr>
        </thead>
        <tbody id="random-tables">
        {% for table in tables %}
            <tr>
                <td><a href="{{ url_for('.edit_table', id=table.id) }}">{{ table.name }}</a></td>
                <!-- <td><a class="pull-right bg-primary" href="{{ url_for('.get_random_value', id=table.id) }}" id="get-random-value">PREVIEW</a></td> -->
                <td><button id="get-random-value" value="{{ url_for('.get_random_value', id=table.id) }}">Test</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Latest Macros</h2>
    <input class = "form-control" id = "macro-table-filter" type = "text" placeholder = "Search here...">
    <table class="table table-striped table-bordered fixed_header">
        <thead>
            <tr>
              <th>Name (click to edit)</th><th>Preview</th>
            </tr>
        </thead>
        <tbody id="macro-list">
        {% for macro in macro_list %}
            <tr>
                <td><a href="{{ url_for('.edit_macro', id=macro.id) }}">{{ macro.name }}</a></td>
                <td><button id="get-macro-value" value="{{ url_for('.get_macro', id=macro.id) }}">Test</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <br/>
    <br/>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">Random Output</div>
        <div class="panel-body" id="random-output-body">press preview button...</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Macro Output</div>
        <div class="panel-body" id="macro-output-body">press preview button...</div>
    </div>
</div>
{% else %}
<div class="col-xs-6">
    <h2>Latest Tables</h2>
    <ul>
        {% for table in tables %}
            <li class="list-group-item">
                <a href="{{ url_for('.get_random_value', id=table.id) }}">{{ table.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="col-xs-6">
    <h2>Latest Macros</h2>
    <ul>
        {% for macro in macro_list %}
            <li class="list-group-item">
                <a href="{{ url_for('.get_macro', id=macro.id) }}">{{ macro.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
 $(document).ready(function(){
    $("#random-table-filter").on("keyup", function() {
       var value = $(this).val().toLowerCase();
       $("#random-tables tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       });
    });
    $("button#get-random-value").click(function(){
        $.ajax({url: $(this).val(), success: function(result){
            $("#random-output-body").text(result);
        }});
    });
    $("#macro-table-filter").on("keyup", function() {
       var value = $(this).val().toLowerCase();
       $("#macro-list tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       });
    });
    $("button#get-macro-value").click(function(){
        $.ajax({url: $(this).val(), success: function(result){
            $("#macro-output-body").html(result);
        }});
    });
 });
</script>
{% endblock %}
