{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ SITE_TITLE }} - Story{% endblock %}

{% block page_content %}
    <h4 id="comments">Create your Story - Powered by Randomness and Imagination</h4>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
        <div class="container-fluid">
            <div class="row" id="pinned_items">

            </div>
            <div class="row">
                <div class="col-md-8">
                    {% if current_user.can(Permission.WRITE_ARTICLES) %}
                        {{ wtf.quick_form(form) }}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {{ macros.tag_filter(tags) }}
                    {% if story_id %}
                        <button class="btn btn-danger pull-right" onclick="confirmDelete();">DELETE
                            STORY
                        </button>
                    {% endif %}
                    <h4>Macros</h4>
                    <input class="form-control" id="macroFilter" type="text" placeholder="Search..">
                    <div style="height: 200px; overflow-y: scroll;">
                        <ul class="list-group" id="macroList">
                            {{ macros.list_rows_in_ul_with_pin('macro', macro_list, form.pins.data, current_user) }}
                            {% for m in public_macros %}
                                <li class="list-group-item" {% if m.tags is defined %}data-tag="{{ m.tags }}"{% endif %}>
                                    {% set icon_pin = 's' %}
                                    {% if pins %}
                                        {% if m.original_author.username + '.macro.' + m.macro_id in pins %}
                                            {% set icon_pin = 'w' %}
                                        {% endif %}
                                    {% endif %}
                                    <span class="ui-icon ui-icon-pin-{{ icon_pin }}"
                                          onclick="pinItem('{{ m.original_author.username }}.macro.{{ m.macro_id }}', this)"></span>
                                    <button onclick="addItem('{{ m.original_author.username }}.macro.{{ m.macro_id }}')">{{ m.public_macro.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h4>Random Tables</h4>
                    <input class="form-control" id="tableFilter" type="text" placeholder="Search..">
                    <div style="height: 200px; overflow-y: scroll;">
                        <ul class="list-group" id="tableList">
                            {{ macros.list_rows_in_ul_with_pin('table', tables, form.pins.data, current_user) }}
                            {% for t in public_tables %}
                                <li class="list-group-item"
                                    {% if t.public_table.tags is defined %}data-tag="{{ t.public_table.tags }}"{% endif %}">
                                    {% set icon_pin = 's' %}
                                    {% if pins %}
                                        {% if t.original_author.username + '.table.' + t.table_id in pins %}
                                            {% set icon_pin = 'w' %}
                                        {% endif %}
                                    {% endif %}
                                    <span class="ui-icon ui-icon-pin-{{ icon_pin }}"
                                          onclick="pinItem('{{ t.original_author.username }}.table.{{ t.table_id }}', this)"></span>
                                    <button onclick="addItem('{{ t.original_author.username }}.table.{{ t.table_id }}')">{{ t.public_table.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h4>Collections</h4>
                    <input class="form-control" id="collectionFilter" type="text" placeholder="Search..">
                    <div style="height: 200px; overflow-y: scroll;">
                        <ul class="list-group" id="collectionList">
                            {{ macros.list_rows_in_ul_with_pin('collection', collections, form.pins.data, current_user) }}
                            {% for c in public_collections %}
                                <li class="list-group-item"
                                    {% if c.public_collection.tags is defined %}data-tag="{{ c.public_collection.tags }}"{% endif %}">
                                    {% set icon_pin = 's' %}
                                    {% if pins %}
                                        {% if c.original_author.username + '.collection.' + t.table_id in pins %}
                                            {% set icon_pin = 'w' %}
                                        {% endif %}
                                    {% endif %}
                                    <span class="ui-icon ui-icon-pin-{{ icon_pin }}"
                                          onclick="pinItem('{{ c.original_author.username }}.collection.{{ c.collection_id }}', this)"></span>
                                    <button onclick="pinItem('{{ c.original_author.username }}.collection.{{ c.collection_id }}')">{{ c.public_collection.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirm">
            <textarea id="random-output" rows="6" cols="50"></textarea>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>
    <script>
        table_modifiers = {};
        {% for t in tables %}{% if t.modifier_name %}table_modifiers['{{ current_user.username }}.table.{{ t.id }}'] = '{{ t.modifier_name }}';
        {% endif %}{% endfor %}
        {% for t in public_tables %}{% if t.modifier_name %}table_modifiers['{{ t.original_author.username }}.table.{{ t.table_id }}'] = '{{ t.public_table.modifier_name }}';
        {% endif %}{% endfor %}

        function pinItem(id, element) {
            //check if id already exists in pinned box
            const pins = $("#pins");
            if (pins.val().indexOf(id) >= 0) {
                //if exists remove
                pins.val(pins.val().replace(id + " ", ''));
                if (element) {
                    $(element).attr("class", "ui-icon ui-icon-pin-s");
                }
            } else {
                //append to pinned items
                pins.val(pins.val() + id + " ");
                if (element) {
                    $(element).attr("class", "ui-icon ui-icon-pin-w");
                }
            }
            refreshPinnedItems();
            return false;
        }

        function refreshPinnedItems() {
            const pins = $("#pins");
            const pinned_items = $("#pinned_items");
            pinned_items.empty();
            pinned_items.append('<h4>Pinned items <small>(right-click to remove pinned item)</h4>')
            if (pins.val()) {
                $.each(pins.val().trim().split(" "), function (i, value) {
                    const dotcount = (value.match(/\./g) || []).length;
                    if (dotcount != 2) {
                        alert('Malformed id ' + value + ' Incorrect dot count:' + String(dotcount));
                        return;
                    }
                    const [username, id_type, id] = value.split(".");
                    if (id_type == 'collection') {
                        //create menu
                        const dropdown = $(`<div class='dropdown col-md-2'>
                                        <a id='${id}' role="button" data-toggle="dropdown" class="btn btn-info  btn-xs"
                                        oncontextmenu='pinItem("${value}", ""); return false;'>
                                            ${id} <span class="caret"></span>
                                        </a>
                                      </div>`).appendTo('#pinned_items');
                        const menu = $(`<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu"/>`).appendTo(dropdown);
                        createPinnedCollection(username, id, menu);
                    } else if (value) {
                        pinned_items.append(`<div class='col-md-2'>
                                            <button onclick="addItem('${value}')" id="${value}" oncontextmenu='pinItem("${value}", ""); return false;' class="btn btn-xs btn-primary">${id_type}.${id}</button><br/><br/>
                                         </div>`);
                    }
                });
            }
        }

        function createPinnedCollection(username, collection_id, menu) {
            const url = "/collection/" + username + "/" + collection_id;
            $.when($.ajax({url: url}), menu).done(function (result, menu) {
                $.each(result[0].split("\n"), function (i, item) {
                    item = item.trim();
                    if (item) {
                        const ref_id = item.substring(item.indexOf('<<') + 2, item.indexOf('>>'));
                        const [username, id_type, id] = ref_id.split(".");
                        if (id_type == 'collection') {
                            const sub_menu = $(`<ul class="dropdown-menu"/>`);
                            createPinnedCollection(username, id, sub_menu);
                            const dropdown = $(`<li class="dropdown-submenu"><a tabindex="-1">${id}</a></li>`).append(sub_menu);
                            menu.append(dropdown);
                        } else {
                            menu.append(`<li><a onclick="addItem('${ref_id}')">${id}</a></li>`)
                        }
                    }
                });
            });
        }

        function addItem(item) {
            const [username, id_type, id] = item.split(".");
            if (id_type == 'table') {
                addTable(username, id);
            } else {
                addMacro(username, id);
            }
        }

        function addTable(username, tableId) {
            let get_random_table_url = "/random-value/" + username + '/' + tableId;
            const item = username + '.table.' + tableId;
            if (item in table_modifiers) {
                const modifier = prompt(table_modifiers[item], "0");
                if (modifier != null && !isNaN(modifier)) {
                    get_random_table_url += '?modifier=' + modifier;
                }
            }
            $.ajax({
                url: get_random_table_url, tableId: tableId, success: function (result) {
                    $("#random-output").text(result);
                    $("#confirm").data('tableId', tableId).data('username', username).dialog({
                        title: this.tableId,
                        draggable: true,
                        resizable: true,
                        height: 250,
                        width: 400,
                        modal: true,
                        buttons: [
                            {
                                text: "Refresh",
                                click: function () {
                                    $(this).dialog("close");
                                    addTable(username, tableId);
                                }
                            },
                            {
                                text: "Insert",
                                click: function () {
                                    insertText($("#random-output").text());
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
                }
            });
        }

        function addMacro(username, macroId) {
            const get_macro_url = "/macro/" + username + '/' + macroId;
            $.ajax({
                url: get_macro_url, macroId: macroId, success: function (result) {
                    $("#random-output").text(result);
                    $("#confirm").data('macroId', macroId).data('username', username).dialog({
                        title: this.macroId,
                        draggable: true,
                        resizable: true,
                        height: 400,
                        width: 400,
                        modal: true,
                        buttons: [
                            {
                                text: "Refresh",
                                click: function () {
                                    $(this).dialog("close");
                                    addMacro(username, macroId);
                                }
                            },
                            {
                                text: "Insert",
                                click: function () {
                                    insertText($("#random-output").text());
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
                }
            });
        }

        function insertText(result) {
            $("#story").focus();
            const story_text_val = $("#story").val();
            const cursor_pos = $("#story").prop("selectionStart");
            $("#story").val(story_text_val.slice(0, cursor_pos) + result + " " + story_text_val.slice(cursor_pos));
            $('#story').prop('selectionStart', cursor_pos + result.length + 1);
            $('#story').prop('selectionEnd', cursor_pos + result.length + 1);
        }

        function confirmDelete() {
            if (confirm('Please confirm you want to delete this story')) {
                const url = "{{ url_for('.delete_story', username=username, id=story_id) }}";
                $.ajax({
                    type: "DELETE",
                    url: url, success: function (result) {
                        $('<div></div>')
                            .html("<h3>Story Deleted</h3>")
                            .dialog({
                                modal: true,
                                title: '{{ story_id }}',
                                buttons: {
                                    Ok: function () {
                                        $(this).dialog("destroy").remove();
                                        location.replace("/");
                                    }
                                }
                            });
                        selectedElement.prop('disabled', true);
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });
            }
        }

        $(document).ready(function () {
            $("#confirm").hide();

            function filterList(list, filter, tag) {
                $("#" + list + " li").filter(function () {
                    $(this).toggle(($(this).text().toLowerCase().indexOf(filter) > -1 || filter == '') && (tag == "" || $(this).data('tag') == tag));
                });
            }

            $("#tagFilter").change(function () {
                let tag = $(this).children("option:selected").val();
                filterList('tableList', $("#tableFilter").val().toLowerCase(), tag);
                filterList('macroList', $("#macroFilter").val().toLowerCase(), tag);
                filterList('collectionList', $("#collectionFilter").val().toLowerCase(), tag);
            });
            $("#tableFilter").on("keyup", function () {
                filterList('tableList', $("#tableFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#macroFilter").on("keyup", function () {
                filterList('macroList', $("#macroFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            $("#collectionFilter").on("keyup", function () {
                filterList('collectionList', $("#collectionFilter").val().toLowerCase(), $("#tagFilter").children("option:selected").val());
            });
            refreshPinnedItems();
        });
    </script>
{% endblock %}
