{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Randomise iT- {{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}<br>{% endif %}
                </p>
            {% endif %}
            {% if current_user.is_administrator() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>Member since {{ moment(user.member_since).format('L') }}. Last
                seen {{ moment(user.last_seen).fromNow() }}.</p>
            <p>
                {% if user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile
                        [Admin]</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2>Your Content</h2>
            <div class="col-md-4">
                <h4>Collections count: {{ stats["collection_count"] }}</h4>
                <h4>Macros count: {{ stats["macro_count"] }}</h4>
                <h4>Tables count: {{ stats["table_count"] }}</h4>
                <h4>Story count: {{ stats["story_count"] }}</h4>
            </div>
        </div>
        <div class="row">
            <h2>Library</h2>
            <div class="col-md-4">
                <h4>Announcements</h4>
            </div>
            <div class="col-md-4">
                <h4>Discovered</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div style="height: 200px; overflow-y: scroll;">
                    <ul class="list-group" id="announcementList">
                        {% for item in shared_content %}
                            <li class="list-group-item">
                                {{ item.title }}
                                <button onclick="deleteAnnouncement($(this));" id="{{ item.id }}"
                                        data-title="{{ item.title }}" class="pull-right">DELETE
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div style="height: 200px; overflow-y: scroll;">
                    <ul class="list-group" id="ownedSharedList">
                        {% for item in shared_content_owned %}
                            <li class="list-group-item">
                                {{ item.public_announcement.title }}
                                <button onclick="deleteSharedPublicOwned($(this));" id="{{ item.announcement_id }}"
                                        data-title="{{ item.public_announcement.title }}" class="pull-right">
                                    DELETE
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>
    <script>
        function deleteAnnouncement(selectedElement) {
            if (confirm('Please confirm you want to delete ' + selectedElement.data('title'))) {
                const url = "{{ url_for('.delete_public_announcement', public_id='') }}" + selectedElement.attr('id');
                $.ajax({
                    type: "DELETE",
                    url: url, title: selectedElement, success: function (result) {
                        $('<div></div>')
                            .html("<h4>Shared Content Deleted</h4>" +
                                "Collections removed: " + result.collection_count + "<br/>" +
                                "Macros removed: " + result.macro_count + "<br/>" +
                                "Tables removed : " + result.table_count)
                            .dialog({
                                modal: true,
                                title: selectedElement.data('title'),
                                buttons: {
                                    Ok: function () {
                                        $(this).dialog("destroy").remove();
                                    }
                                }
                            });
                        selectedElement.prop('disabled', true);
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });
            }
        }

        function deleteSharedPublicOwned(selectedElement) {
            if (confirm('Please confirm you want to delete ' + selectedElement.data('title'))) {
                const url = "{{ url_for('.delete_shared_content', public_id='') }}" + selectedElement.attr('id');
                $.ajax({
                    type: "DELETE",
                    url: url, title: selectedElement, success: function (result) {
                        $('<div></div>')
                            .html("<h4>Removed content from your library</h4>")
                            .dialog({
                                modal: true,
                                title: selectedElement.data('title'),
                                buttons: {
                                    Ok: function () {
                                        $(this).dialog("destroy").remove();
                                    }
                                }
                            });
                        selectedElement.prop('disabled', true);
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });
            }
        }
    </script>
{% endblock %}